@model TheHouseOfDelightV1.DbModel.Types
@{
    ViewData["Title"] = "EditTypes";
}

<form method="post" action="/Admin1/EditTypes">
    <input type="hidden" name="ID" value="@Model.ID" />
    <div class="form-group  col-md-12">
        <label for="Name">Name</label>
        <input type="text" class="form-control" id="Name" name="Name" value="@Model.Name">
    </div>
    <div class="form-group  col-md-12">
        <label for="Description">Description</label>
        <input type="text" class="form-control" id="Description" name="Description" value="@Model.Description">
    </div>



    <input type="submit" class="btn btn-primary " value="Save" />
    <a href="/admin1/types" class="btn btn-primary ">Back</a>
</form>
