@model List<TheHouseOfDelightV1.DbModel.Product>
@{
    ViewData["Title"] = "Admin1";
}






<a href="/admin1/AddNewProduct/" class="btn btn-primary">Add New Product</a>

<table class="table">
    <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Description</th>
            <th scope="col">Edit|Delete</th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
            <tr>

                <td>@item.ID</td>
                <td>@item.Name</td>
                <td>@item.Description</td>

                <td>
                    <a href="/admin1/EditProduct/@item.ID" class="btn btn-primary">Edit</a>
                    <button type="button" id="btnDeleteProduct" class="btn btn-primary btnDeleteProduct" data-productid="@item.ID">Delete</button>

                </td>
            </tr>

        }

    </tbody>
</table>



<div>
    <form id="DeleteProductForm" method="post" action="/Admin1/DeleteProduct">
        <input type="hidden" id="idField" name="ID" value="0" />

    </form>

</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

<script>

    $(document).ready(function () {


        $(".btnDeleteProduct").click(function () {
            var IdOfProduct = $(this).data("productid");
            $("#idField").val(IdOfProduct);
            if (confirm('Are you sure to delete Product?')) {
                $("#DeleteProductForm").submit();
            }
         });

});
</script>
